PROJECT_NAME=#"Galatea Server"
HOST=#"localhost"
PORT=#8000
API_V1_STR=#"/api/v1"

LLM_API_KEY=#Your-API-Key
LLM_BASE_URL=#Your-Openai-Base-URL
LLM_MODEL=#Your-Model-Name

TTS_API_HOST=#"localhost"
TTS_API_PORT=#Your-TTS-Port-Number
TTS_ROUTE=#Your-GPT-SoVITS-Root-Dirctory-Route

# Unity Client
UNITY_EXE_PATH="../galatea_unity/Build/galatea.exe"
